<div class="row">
    <div class="col-sm-12">
        <div class="container cont-register">
            <div id="signup" style='margin-top: 10%;'>
            <div class="signup-screen">
                <div class="space-bot text-center">
                    <h1 style="color: #263238;">User Registration</h1>
                    <hr style='background-color: #263238;'>
                </div>
                <form [formGroup]="_userservice.form" #userForm="ngForm">
                    <div class="controlers-container" >
                        <div>
                            <mat-form-field style="width: 100%;">
                                <input formControlName="name" matInput placeholder="Name*" name="name" #name [(ngModel)]="user.name">
                                <mat-error>Name is required.</mat-error>
                            </mat-form-field>
                        </div>
                        <mat-form-field style="width: 100%;">
                            <input formControlName="job" matInput placeholder="Job*" name="job" #job [(ngModel)]="user.job">
                            <mat-error>Job is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="button-row" align="center" >
                        <button mat-raised-button color="primary" type="submit" id="btn-submit" (click)="addUser()">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>  
    </div>
</div>
