<div class="row">
    <div class="col-sm-12">
        <div class="container cont-select">
            <div id="signup" style='margin-top: 10%;'>
            <div class="signup-screen">
                <div class="space-bot text-center">
                    <h1 style="color: #263238;">User Detail </h1>
                    <hr style='background-color: #263238;'>
                </div>
                <div align="center">
                    <label class="lbl-title">Name </label>
                    <br/>
                    <label class="lbl-data">{{selectedUser.first_name}}  {{selectedUser.last_name}}</label>
                </div>
                <div align="center">
                    <label class="lbl-title">Email </label>
                    <br/>
                    <label class="lbl-data">{{selectedUser.email}}</label>
                </div>
                <div align="center">
                    <label class="lbl-title">Avatar </label>
                    <br/>
                    <label class="lbl-data">{{selectedUser.avatar}}</label>
                </div>
            </div>
        </div>  
    </div>
</div>
